<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="sgbd" connectionString="Data Source=GETH-MAINFRAME;Initial Catalog=SGBD;Integrated Security=True"/>
  </connectionStrings>
  <appSettings>
    <!-- Sceneriu 1 -->

    <add key="ParentTableName" value="Categorie"/>
    <add key="ChildTableName" value="Film"/>
    <add key="ChildTableNumberOfCol" value="3"/>
    <add key="ChildColNames" value="nume,numarPremii,categorie"/>
    <add key="SelectChild" value="Select * from Film"/>
    <add key="SelectParent" value="Select * from Categorie"/>
    <add key="Insert" value="Insert into Film values(@nume, @numarPremii, @categorie)"/>
    <add key ="Delete" value="Delete from Film where id=@id"/>
    <add key ="Update" value="Update Film set nume=@nume, numarPremii=@numarPremii, categorie=@categorie where id=@id"/>
    <add key ="RelName" value="FK__Film__categorie__3E52440B"/>
    <add key="ColRelChild" value="categorie"/>

    <!-- Scenariu 2 -->

<!--    <add key="ParentTableName" value="Companie"/>-->
<!--    <add key="ChildTableName" value="Regizor"/>-->
<!--    <add key="ChildTableNumberOfCol" value="3"/>-->
<!--    <add key="ChildColNames" value="nume,numarPremii,companie,email"/>-->
<!--    <add key="SelectChild" value="Select * from Regizor"/>-->
<!--    <add key="SelectParent" value="Select * from Companie"/>-->
<!--    <add key="Insert" value="Insert into Regizor values(@nume, @numarPremii, @companie, @email)"/>-->
<!--    <add key ="Delete" value="Delete from Regizor where id=@id"/>-->
<!--    <add key ="Update" value="Update Regizor set nume=@nume, numarPremii=@numarPremii, companie=@companie, email=@email where id=@id"/>-->
<!--    <add key ="RelName" value="FK__Regizor__compani__3B75D760"/>-->
<!--    <add key="ColRelChild" value="companie"/>-->

  </appSettings>
</configuration>