<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="TicTacToeEntities" connectionString="metadata=res://*/Models.Models.csdl|res://*/Models.Models.ssdl|res://*/Models.Models.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=GETH-MAINFRAME;initial catalog=TicTacToe;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="TicTacToeModels" connectionString="metadata=res://*/Models.TicTacToeModels.csdl|res://*/Models.TicTacToeModels.ssdl|res://*/Models.TicTacToeModels.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=GETH-MAINFRAME;initial catalog=TicTacToe;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>